cffi==2.0.0
darkdetect==0.8.0
packaging==26.0
pdfkit==1.0.0
pillow==12.1.1
pycparser==3.0
PyMuPDF==1.27.2.2
PySide6==6.11.0
PySide6-Fluent-Widgets==1.11.1
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
PySideSix-Frameless-Window==0.8.1
pytesseract==0.3.13
shiboken6==6.11.0
xcffib==1.12.0
mutagen
supabase
httpx
google-genai
python-dotenv
groq
